<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
</head>
<body>
    <h1>{{ title }}</h1>

    <div>
        {% for key, video in all_videos.items() %}
            <a href="{{ url_for('watch', lesson_key=key) }}">{{ video.title }}</a><br>
        {% endfor %}
    </div>

    <br>

<iframe
    src="https://iframe.mediadelivery.net/embed/618406/{{ video_id }}"
    loading="lazy"
    style="border:0; width:900px; height:500px; max-width:100%;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture"
    allowfullscreen
></iframe>
</body>
</html>
